torch~=2.2.2
fairscale
timm~=0.4.12
numpy~=1.26.0
transformers~=4.33.2
omegaconf~=2.3.0
opencv-python~=4.9.0.80
Pillow~=10.0.1
loguru~=0.7.2
PyYAML~=6.0.1
pandas~=1.5.3
tqdm~=4.66.1
iopath~=0.1.9
torchvision~=0.17.2
decord~=0.6.0
webdataset~=0.2.86